extends layout

block content
    h1 Repository Status...
        form(name="output-screen", action="/" method="HEAD")
            p #{output}
            input(type="submit", name="Submit", value="Done")
    